<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>

        <Logger name="org.testcontainers" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="tc" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.github.dockerjava" level="WARN" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>
